/* Reset de estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f8f8f8;
  color: #333;
}

/* Estilos gerais */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

input,
select,
button {
  font-size: 1rem;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border: none;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos do Navbar */
nav {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 15px;
  border-bottom: 1px solid #eee;
}

nav a {
  color: #333;
  text-decoration: none;
}

/* Estilos para componentes */
.professional-card {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 15px;
  margin-bottom: 15px;
}

/* Media queries para responsividade */
@media (min-width: 768px) {
  nav {
    justify-content: flex-start;
  }

  nav a:not(:first-child) {
    margin-left: 15px;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 2.5rem;
  }

  input,
  select,
  button {
    font-size: 1.2rem;
  }

  button {
    padding: 12px 20px;
  }
}
